.todo {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.todoItem {
    flex: 1;
}

.doneWithThisTodo{
    text-decoration: line-through;
}

button.btn {
    outline: none;
    border: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
}

.btnDone{
    background-color: green;
}

.btnDelete{
    background-color: red;
}